.fuelquotehistorytable {
   border: 2px solid var(--table-color);
   text-align: center;
   height: 200px;
   width: 400px;
   font-family: Calibri, Myriad;
   width: 100%
}

.fuelquotehistorytable caption {
   text-transform: uppercase;
   background-color: var(--table-color);
   color: white;
   padding: 10px;
}

.fuelquotehistorytable tr:nth-child(even) {
   background-color: var(--row-bg-color);
}

.message {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.message::before {
  content: '😔';
  display: block;
  font-size: 48px;
  margin-bottom: 10px;
}
